@media screen and (max-width : 768px){



    .idinu-header{
        padding: 70px 2.6vw 30px;
    }

    .idinu-header__icon{
        width : auto;
        height : 20px;
        display : block;
    }

    .idinu-header__logo {
        width : auto;
        height : 20px;
        margin-left : 2.6vw;
        grid-column : 2/5;
    }

    .idinu-header__icon-wrapper__icon{
        width : auto;
        height : 20px;
    }


    .idinu-header__icon-wrapper__icon:nth-child(3){
        display : none;
    }

    .idinu-header__nav{
        display : none;
    }

    .idinu-header__nav-2{
        display : none;
    }

    .idinu-content{
        width : 100%;
        height : auto;
        padding : 0;
        box-sizing: border-box;
    }

    .idinu-content__introduction-wrapper{
        padding : 0 2.6vw;
        box-sizing: border-box;
    }

    .idinu-content__feature-wrapper{
        height : auto;
        box-sizing: border-box;
        padding : 0 2.6vw;
        grid-template-columns: repeat(1, 1fr);
    }

    .idinu-content__feature-wrapper__card__text-wrapper__title{
        font-family: 'Noto Sans KR', sans-serif;
        font-weight: 500;
        font-size : 2rem;
    }

    .idinu-content__best-seller-wrapper__content-wrapper{
        flex-wrap : wrap;

    }

    .idinu-content__best-seller-wrapper__content-wrapper__content{
        width : 100%;
        margin : 3rem 0 0 0;
    }
    .idinu-content__best-seller-wrapper__content-wrapper__content:nth-child(1){
        width : 100%;
        border-bottom : #707070 solid 1px;
    }

    .idinu-content__best-seller-wrapper__content-wrapper__content:nth-child(2){
        width : 50%;
        border-right : #707070 solid 1px;
    }
    .idinu-content__best-seller-wrapper__content-wrapper__content:nth-child(3){
        width : 50%;
    }

    .idinu-content__best-seller-wrapper__content-wrapper__content__img-wrapper{
        width: 73%;
        height: auto;
        border-radius: 0;
    }

    .idinu-content__best-seller-wrapper__content-wrapper__content__img-wrapper__img{
        border-radius: 0;
    }

    .idinu-content__new-wrapper {
        padding : 8.625rem 1.5rem 4.5rem 1.5rem;
    }

    .idinu-content__new-wrapper__content-wrapper{
        flex-wrap : wrap;
    }

    .idinu-content__new-wrapper__content-wrapper__content{
        width : 48%;
    }

    .idinu-content__brand-wrapper{
        padding : 8.625rem 1.5rem 4.5rem 1.5rem;
    }

    .idinu-content__brand-wrapper__content-wrapper{
        flex-wrap : wrap;
    }

    .idinu-content__brand-wrapper__content-wrapper__card{
        width: 50%;
    }


    .idinu-content__brand-wrapper__content-wrapper__card__text-wrapper{
        height : 11.75rem;
    }

    .idinu-content__review-wrapper{
        padding : 8.625rem 1.5rem 4.5rem 1.5rem;

    }

    .idinu-content__review-wrapper__container__content-wrapper{
        flex-wrap : wrap;
        width : 100%;
        justify-content: space-between;
    }

    .idinu-content__review-wrapper__container__content-wrapper__card{
        width: 49%;
        border-radius: 0.5rem;
        border : #ACACAC solid 1px;
    }

    .idinu-content__review-wrapper__container__content-wrapper__card__text-wrapper{
        border-top : #ACACAC solid 1px;
    }

    .idinu-content__review-wrapper__container__arrow{
        display : none;
    }

    .idinu-content__event-wrapper{
        padding : 8.625rem 1.5rem 9rem 1.5rem;
    }

    .idinu-content__event-wrapper__content-wrapper{
        width : 100%;
        padding : 0 1.5rem;

    }

    .idinu-content__insta-wrapper{
        margin-bottom: 2rem;
        padding : 5rem 1.5rem;
    }

    .idinu-content__insta-wrapper__content{
        width : 100%;
    }

    .idinu-content__insta-wrapper__content__img{
        width : 32.2%;
        height : auto;
        margin : 0 0.55% 0.5rem;
    }

    .idinu-content__insta-wrapper__content__img:nth-child(10){
        display: none;
    }
    .idinu-content__insta-wrapper__content__img:nth-child(11){
        display: none;
    }
    .idinu-content__insta-wrapper__content__img:nth-child(12) {
        display: none;
    }


    .idinu-footer__wrapper{
        flex-direction: column;
        align-items: flex-start;
    }

    .idinu-footer__wrapper__section-1-wrapper__service-title{
        display: none;
    }

    .idinu-footer__wrapper__section-1-wrapper__service-content{
        display : none;
    }

    .idinu-footer__wrapper__section-1-wrapper{
        width : 100%;
    }

    .idinu-footer__wrapper__section-1-wrapper__menu-wrapper{
        justify-content: center;

    }

    .idinu-footer__wrapper__section-1-wrapper__info-wrapper__info{
        width : 100%;
        margin-right : 0;
    }

    .idinu-footer__wrapper__section-2-wrapper{
        width : 100%;
    }

    .idinu-footer__wrapper__section-2-wrapper__customer-center{
        margin-top : 0.5rem;
    }

    .idinu-footer__wrapper__section-2-wrapper__phone{
        font-size : 0.938rem;
        margin : 0 0 0.5rem;
    }

    .idinu-footer__wrapper__section-3-wrapper__contact-title{
        margin : 0.5rem 0 0;
    }

    .idinu-footer__wrapper__section-3-wrapper{
        width : 100%;
    }

    .idinu-footer__wrapper__section-1-wrapper__copyright{
        display : none;
    }



}